*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
}

.container{
    display:flex;
    max-width: 1400px;
    margin:0 auto;
}  

.login{
    background-color: #fff;
    color: black;  
    border: 1px solid #fff;
    display: inline-block;
    border-radius: 40%;
    padding: 10px;
}

.logo{
    color: black;
    display: inline-block;
}

.colonna15{
    width: 30%;
    margin: 50px 0px;
}

.colonna30{
    width: 60%;
    margin: 50px 0px;
    border: 30%;
    text-align: center;
   
}

.contenuto-header{
    margin: 0px 10px;
    display: inline-block;
}

ul li{
    display: inline-block;
    padding: 15px;
    color: #fff;
}

header{
    background-color: #255EE9;
    width: 100%;
}

.destra{
    text-align: right;
}

.sfondo{
    background-image:url(./img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;

}
.p-top{
    padding-top: 50px;
}



.intestazioneprincipale{
    height: 200px;
    width: 600px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    display: inline-block;
}

.contain{
    display: inline-block;
    margin: 15px 20px 0 0;
    width: ;
}

.scaricabianco{
    background-color: #fff;
    color: black;
    border: 1px solid #fff;
    border-radius: 20px 20px  ;
    padding: 8px;
}

.scaricablu{
    background-color: #7289DA;
    color: white;
    border: 1px solid #7289DA;
    border-radius: 20px 20px;
    padding: 10px;
    display: inline-block;
}
.apridiscord{
    background-color: #23272A;
    border: 1px solid black;
    padding: 8px;
    border-radius: 20px 20px;
}

.fontgrande{
    font-size:150%;
}

.testocentrato{
    text-align: center;
}

.fontpiccolo{
    font-size:small;
    margin-top: 15px;
    line-height: 20px;
}

.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}   

.centrointestazione{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}   

.rettangolopiccolo{
        height: 300px;
        width: 300px;

}

.rettangologrande-primaimmagine{
    height: 300px;
    width: 450px;
    background-image: url(./img/item1.svg);
    background-size: contain;
}

.rettangologrande-secondaimmagine{
    height: 300px;
    width: 450px;
    background-image: url(./img/item2.svg);
    background-size: contain;
}

.rettangologrande-terzaimmagine{
    height: 300px;
    width: 450px;
    background-image: url(./img/item3.svg);
    background-size: contain;
}



.centrogrande{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    
}   

.rettangoloenorme{
    height: 600px;
    width: 900px;
}

.sfondonero{
    background-color: #23272A;
}   

.colonnapiccola{
   width: 130px;
   height: 400px;
}

.colonnagrande{
    width: 200px;
    height: 400px;
}

.bordoblu{
    border-color: #255EE9;
    margin: 0 auto;
}

.centropiccolo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}  





.spazio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 750px;
    margin-bottom: 50px;
}

.stelle{
    background-image: url(./img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.padding-10{
    padding: 10px;
}

.d-flex{
    display: flex;
    
}

.spazio-flex{
    justify-content: space-between;
}

.inlineblock{
    display: inline-block;
}

.testobianco{
    color: #fff;
}

.testoblu{
    color: #7289DA;
}

.pbot-20{
    padding-bottom: 20px;
}

.marginbot-20{
    margin-bottom: 20px;
}

.logoita{
    width:30px ;
    height:20px ;
    margin-right: 10px;
}

.margin-top20{
    margin-top: 20px;
}